SWITCHBOARD_CONFIG=configs/switchboard.local.json
SWITCHBOARD_PROXY_ADDRESS=:8080
SWITCHBOARD_ADMIN_ADDRESS=:9090
SWITCHBOARD_ROUTING_STRATEGY=round-robin
SWITCHBOARD_LOG_LEVEL=info
SWITCHBOARD_ADMIN_URL=http://localhost:9090

